<%- include("partials/header") %>
<header class="jumbotron">
  <div class="container">
    <h1><%= camp.name %></h1>
  </div>
</header>
<div class="row" style="display: flex; flex-wrap: wrap; flex-direction: center;">
  <div class="col-12 mx-auto my-auto">
    <img class="img-thumbnail" src=<%= camp.image %>>
    <p class="caption text-center"><%= camp.description %></p>
    <p><a class="btn btn-success btn-lg" href="/campgrounds/<%= camp._id %>/comments/new">Add New Comment</a></p>
  </div>
  <div>
    <% camp.comments.forEach(function(comment){ %>
    <div class="col-12">
      <div>
        <p class="caption text-center"><%= comment.text %> - <strong><%= comment.author %></strong></p>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include("partials/footer") %>
