<%- include("partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-3">
      <p>YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
        <li class="list-group-item">Info 4</li>
      </div>
    </div>
    <div class="col-9 px-2 py-2">
      <figure class="figure" style="width:100%">
        <img class="figure-img img-thumbnail img-fluid w-100" src=<%= camp.image %>>
        <figcaption class="figure-caption px-2 py-2">
          <h4 class="float-left">
            <a href="#"> <%= camp.name %></a>
          </h4>
          <div class="float-right">
            <h4>
              $9.00/night
            </h4>
          </div>
          <div class="px-1 py-5">
            <p class="caption text-center"><%= camp.description %></p>
          </div>
        </figcaption>
      </figure>
      <div class="panel jumbotron">
        <div class="row">
          <div class="col-12">
            <a class="btn btn-success float-right" href="/campgrounds/<%= camp._id %>/comments/new">Add New Comment</a>
          </div>
        </div>
        <hr />
        <% camp.comments.forEach(function(comment){ %>
        <div class="row">
          <div class="col-12">
            <strong><%= comment.author %></strong> <span class="float-right">10 days ago</span>
            <p><%= comment.text %></p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
